<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather results from 3 different websites</title>

</head>
<body>
<div>
    <h2>Weather from website 1:</h2>
    <span><h3>Temperature: {{result1[0]}}  °C</h3></span>
    <span><h3>Wind speed: {{result1[1]}} м/с</h3></span>
    <span><h3>Description: {{result1[2]}}</h3></span>
</div>
<br>

<div>
    <h2>Weather from website 2:</h2>
    <span><h3>Temperature: {{result2[0]}}</h3></span>
    <span><h3>Wind speed: {{result2[1]}}  м/с</h3></span>
    <span><h3>Description: {{result2[2]}}</h3></span>
</div>
<br>

<div>
    <h2>Weather from website 3:</h2>
    <span><h3>Temperature: {{result3[0]}} C</h3></span>
    <span><h3>Wind speed: {{result3[1]}}  м/с</h3></span>
    <span><h3>Description: {{result3[2]}}</h3></span>
</div>

</body>

</html>